<div class="container">
<h1 class=" campaigntitle display-1"> {{this.eventName}}</h1>
<hr>
<p class="when text-left">When? <mark>{{this.eventDate}}</mark></p>
<p class="start text-left">Start time: <mark>{{this.eventTimeStart}}</mark></p>
<p class="end text-left">End time: <mark>{{this.eventTimeEnd}}</mark></p>
<p class="end text-left">Location: <a href="https://www.google.com/maps/search/?api=1&query={{this.eventLocation}}">{{this.eventLocation}}</a> <small class="text-muted">*Click on address to get directions*</small></p>
<P class="description text-wrap">This event was created by {{this.eventCreator}} on {{this.eventCreatedOn}}</p>
  <hr>
</div>
<div class="container">
  <h1 class=" campaigntitle display-1"> Description of this event! <h1>
    <hr>
  <P class="description text-wrap">{{this.eventDescription}}</p>
</div>
