
<div style="background:transparent" class="jumbotron text-center">
  <div class="container">
    <h1 class = "Title">Dungeons and Dragons Wiki</h1>
  </div>
</div>
<div class="container">
  <h1 class = "events"> Upcoming Events </h1>
  <hr>
  <table class="table">
    <thead>
      <th score="col"> Event Name </th>
      <th scope="col"> Event Date </th>
      <th score="col"> Start Time </th>
      <th score="col"> Location </th>
      <th score="col"> View Details</th>
    </thead>
    <tbody>
      {{#each results}}
      <tr>
        <td><!--<a href="eventInfo?ID={{this.eventName}}">-->{{this.eventName}}</td>
        <td>{{this.eventDate}}</td>
        <td>{{this.eventTimeStart}}</td>
        <td><a href="https://www.google.com/maps/search/?api=1&query={{this.eventLocation}}">{{this.eventLocation}}</a></td>
        <td><a href="eventinfo?ID={{this.eventId}}" class="btn btn-info" role="button">Details</a></tr>
      </tr>
      {{/each}}
    </tbody>
  </table>
    <a href="createEvent" class=" addevent btn btn-success center-block"  style="max-width:200px" role="button">Create an event</a>
</div>


  <!-- BLOCKQUOTE -->
<!--  <blockquote class="blockquote-reverse">
    <p>This site is great! It lets myself orginize things for our univserity club!</p>
     <footer>Quote by <cite title="Pat Nucci">Patrick</cite></footer>
  </blockquote> -->
